@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(113, 46, 46, 0.7019607843);
  color: #ecf0f1;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: height 0.3s ease, background-color 0.3s ease;
}
header.scrolled {
  background-color: #000000;
}
header .logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
header .logo img {
  height: 50px;
}
header .logo h6 {
  font-size: 1.5rem;
}
header nav {
  display: flex;
  gap: 30px;
}
header nav a {
  text-decoration: none;
  color: #ecf0f1;
  font-size: 20px;
  transition: color 0.6s;
  padding-bottom: 2px;
}
header nav a:hover {
  color: #1abc9c;
}
header nav a.active {
  border-bottom: 2px solid #1abc9c;
}
header .menu-toggle {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  z-index: 1000;
}
header .menu-toggle span {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #000;
  transition: all 0.3s ease;
}
header .menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(3px, 3px);
}
header .menu-toggle.active span:nth-child(2) {
  transform: rotate(-45deg) translate(3px, -3px);
}
@media (max-width: 768px) {
  header .menu-toggle {
    display: flex;
  }
  header nav {
    display: none;
    flex-direction: column;
    background-color: #111;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 999;
    padding: 20px 0;
    text-align: center;
  }
  header nav.show {
    display: flex;
  }
  header nav a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
  }
  header nav a:hover {
    background: #222;
  }
}
header #icons {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 20px;
  cursor: pointer;
}
header #icons i {
  color: #ecf0f1;
  transition: color 0.3s ease;
}
header #icons i:hover {
  color: #1abc9c;
}
header #icons #logout-btn {
  display: none;
  background-color: #1abc9c;
  border: none;
  padding: 7px 7px;
  color: #ecf0f1;
  border-radius: 4px;
  cursor: pointer;
}
header #icons #logout-btn:hover {
  background-color: #148f77;
}

.hero-section {
  position: relative;
  padding: 8rem 0;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  gap: 7pc;
}
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.hero-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(to top, rgba(113, 46, 46, 0.7019607843), rgba(0, 0, 0, 0));
}
.hero-section .hero-text {
  position: relative;
  z-index: 2;
  max-width: 45%;
  padding-left: 110px;
}
.hero-section .hero-text h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: left;
}
.hero-section .hero-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 30px;
}
.hero-section .hero-text .hero-buttons {
  display: flex;
  gap: 15px;
}
.hero-section .hero-text .hero-buttons button {
  padding: 15px 30px;
  color: #ecf0f1;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.hero-section .hero-text .hero-buttons .btn-first {
  background-color: #1abc9c;
  border: none;
  border-radius: 20px;
}
.hero-section .hero-text .hero-buttons .btn-first:hover {
  background-color: #000000;
  color: rgba(113, 46, 46, 0.7019607843);
}
.hero-section .hero-text .hero-buttons .btn-second {
  background-color: transparent;
  border: 1px solid #ecf0f1;
  border-radius: 20px;
}
.hero-section .hero-text .hero-buttons .btn-second:hover {
  background-color: #ecf0f1;
  color: #1abc9c;
}
.hero-section .hero-image {
  position: relative;
  z-index: 2;
}
.hero-section .hero-image img {
  width: 300px;
  border-radius: 10px;
}
.hero-section .hero-navigation {
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.hero-section .hero-navigation .prev {
  margin-left: 20px;
}
.hero-section .hero-navigation .next {
  margin-right: 20px;
}
.hero-section .hero-navigation button {
  background: none;
  border: none;
  color: #ecf0f1;
  font-size: 2.5rem;
  cursor: pointer;
  transition: transform 0.3s;
}
.hero-section .hero-navigation button:hover {
  transform: scale(2.1);
}

#content-section {
  margin: 40px 110px;
}
#content-section .content-text {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}
#content-section .content-text h2 {
  font-size: 1.5rem;
}
#content-section .content-text .btn-third {
  padding: 5px 20px;
  color: #ecf0f1;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  background-color: transparent;
  border: 1px solid #ecf0f1;
  border-radius: 20px;
}
#content-section .content-text .btn-third:hover {
  background-color: #ecf0f1;
  color: #1abc9c;
}
#content-section .content-text .btn-third a {
  text-decoration: none;
  color: #ecf0f1;
}
#content-section .content-text .btn-third a:hover {
  color: #1abc9c;
}
#content-section .content-row {
  display: flex;
  gap: 15px;
  overflow: hidden;
}
#content-section .content-row .card {
  position: relative;
  flex: 0 0 auto;
  overflow: hidden;
  width: 150px;
}
#content-section .content-row .card img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  transition: opacity 0.3s ease;
}
#content-section .content-row .card img:hover {
  opacity: 0.4;
}
#content-section .content-row .card .card-title {
  font-size: 1rem;
  padding: 10px;
  transition: color 0.3s ease;
}
#content-section .content-row .card .card-title:hover {
  color: #1abc9c;
}
#content-section .content-row .card::after {
  content: "▶";
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: #1abc9c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
#content-section .content-row .card:hover::after {
  opacity: 1;
}

/* === Footer Styles === */
.footer {
  position: relative;
  overflow: hidden;
  padding: 4rem 2rem;
  color: #fff;
  font-family: "Segoe UI", sans-serif;
}

.footer__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
}

.footer__container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
}

.footer__branding {
  flex: 1;
  min-width: 250px;
  text-align: center;
}

.footer__branding h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.footer__branding p {
  font-size: 1rem;
  color: #ccc;
}

.footer__links {
  flex: 2;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer__column h4 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #fff;
}

.footer__column ul {
  list-style: none;
  padding: 0;
}

.footer__column ul li {
  margin-bottom: 10px;
}

.footer__column ul li a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}

.footer__column ul li a:hover {
  color: #ff4c4c;
}

.social-icons a {
  font-size: 1.2rem;
  margin-right: 10px;
  color: #ccc;
  transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover {
  transform: scale(1.2);
  color: #ff4c4c;
}

/* Tablet (768px and below) */
@media (max-width: 768px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer__links {
    flex-direction: column;
    align-items: center;
  }
  .footer__column {
    margin-bottom: 30px;
  }
}
/* Mobile (480px and below) */
@media (max-width: 480px) {
  .footer {
    padding: 2rem 1rem;
  }
  .footer__branding h2 {
    font-size: 1.5rem;
  }
  .footer__column h4 {
    font-size: 1rem;
  }
  .social-icons a {
    font-size: 1.1rem;
    margin: 0 6px;
  }
}
@media (min-width: 880px) and (max-width: 1024px) {
  header {
    padding: 20px 60px;
  }
  .hero-section .hero-text {
    max-width: 45%;
    padding-left: 70px;
  }
  #content-section {
    margin: 40px 70px;
  }
  #content-section .content-container {
    padding-bottom: 50px;
  }
  footer .links {
    gap: 100px;
  }
}
@media (min-width: 640px) and (max-width: 880px) {
  header {
    padding: 20px 20px;
  }
  header nav {
    gap: 20px;
  }
  header #icons {
    gap: 20px;
  }
  .hero-section .hero-text {
    max-width: 94%;
    padding-left: 40px;
  }
  .hero-section .hero-navigation .prev {
    margin-left: 10px;
  }
  .hero-section .hero-navigation .next {
    margin-right: 10px;
  }
  .hero-section .hero-image {
    display: none;
  }
  #content-section {
    margin: 40px;
  }
  #content-section .content-container {
    padding-bottom: 40px;
  }
  footer .links {
    gap: 70px;
  }
}
@media (min-width: 360px) and (max-width: 640px) {
  header {
    padding: 20px 20px;
  }
  header nav {
    gap: 2em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(113, 46, 46, 0.7019607843);
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }
  header nav a {
    font-size: 1.5rem;
  }
  header #icons {
    gap: 20px;
  }
  .hero-section .hero-text {
    max-width: 93%;
    padding-left: 40px;
  }
  .hero-section .hero-navigation .prev {
    margin-left: 10px;
  }
  .hero-section .hero-navigation .next {
    margin-right: 10px;
  }
  .hero-section .hero-image {
    display: none;
  }
  #content-section {
    margin: 40px 20px;
  }
  #content-section .content-container {
    padding-bottom: 30px;
  }
  footer .links {
    gap: 20px;
  }
}
.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}
.modal-wrapper.active {
  visibility: visible;
  opacity: 1;
}
.modal-wrapper .modaltwo {
  background: #1b1b1b;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  height: auto;
  padding: 20px;
  position: relative;
  color: #ecf0f1;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}
.modal-wrapper .modaltwo #close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  color: #ecf0f1;
  font-size: 24px;
  cursor: pointer;
}
.modal-wrapper .modaltwo #signup-form h2,
.modal-wrapper .modaltwo #login-form h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.5rem;
  color: #1abc9c;
}
.modal-wrapper .modaltwo .form-wrapper.hidden {
  display: none;
}
.modal-wrapper .modaltwo .form-wrapper.visible {
  display: block;
}
.modal-wrapper .modaltwo .form-group {
  margin-bottom: 15px;
}
.modal-wrapper .modaltwo .form-group label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: white;
}
.modal-wrapper .modaltwo .form-group input {
  width: 94%;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background: #222;
  color: #ecf0f1;
  font-size: 1rem;
}
.modal-wrapper .modaltwo .primary-btn {
  width: 94%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  background: #1abc9c;
  color: rgba(113, 46, 46, 0.7019607843);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}
.modal-wrapper .modaltwo .primary-btn:hover {
  background: #148f77;
}
.modal-wrapper .modaltwo p {
  text-align: center;
  font-size: 0.85rem;
  color: white;
}
.modal-wrapper .modaltwo p .toggle-form {
  color: #1abc9c;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 5px;
}
.modal-wrapper .modaltwo p .toggle-form:hover {
  color: #148f77;
}/*# sourceMappingURL=loginsignup.css.map */